<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div>
  <%= flash[:notice] %>
</div>

<%= render 'list', user: current_user,book: @book %>

<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <th>Title</th>
   <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <th>Opinion</th>
  <p><%= book.body %></p>
</div>
<% end %>